.header-color {
    color: rgb(241, 237, 237);
}

.text-white {
    color: beige
}

.monggovest{
    background-color: white;
}

.logo-footer {
    padding-left: 0%,
    
}

.copyright-footer {
    text-align: center;
}

.bg.color {
    background-color: aqua;
}

.column-body{
    
}